# Your ArcGIS Online OAuth 2.0 Client ID
# For local development create a file called .env.local
VITE_ESRI_CLIENT_ID=<oauth for users authentication client id>

# Plot data feature service URL
VITE_PLOT_SERVICE_URL=https://services.arcgis.com/<uid>/arcgis/rest/services/Growth_Monitoring_Plots/FeatureServer
