/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

/* Custom app styles can still be written in App.vue */

:root {
  --bg-primary: #ffffff;
  --text-primary: #000000;
  --border-color: #333333;
  --accent: #4882fd;
  --cell-bg: #ffffff;
  --keypad-bg: #e5e7eb;
  --btn-bg: #ebebeb;
  --header-bg: #ffffff;
  --active-cell-bg: rgb(198, 217, 248);
}

.dark-mode {
  --bg-primary: #000000;
  --text-primary: #ffffff;
  --border-color: #444444;
  --accent: #4882fd;
  --cell-bg: #1a1a1a;
  --keypad-bg: #111111;
  --btn-bg: #222222;
  --header-bg: #000000;
  --active-cell-bg: rgb(97, 158, 255);
}